.account-container {
  position: relative;
  width: 100vw;
  min-height: 100vh; 
  background-color: #1D3557;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; 
  margin-top: 5rem;
}
  
  h1 {
    font-size: 25px;
    color: #F1FAEE;
    margin-top: 50px;
  }
  
  p {
    font-size: 30px;
    color: #1D3557;
  }


/* prompt by chatGPT */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
/* end of prompt by chatGPT */

.profile-form {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.profile-form.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  animation: slideDown 0.5s ease-in-out;
}

.profile-form.hide {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideUp 0.5s ease-in-out;
}

  .profile-form,.password-form  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .profile-form label, .password-form label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #F1FAEE;
  }
  
  .profile-form input, .password-form input {
    padding: 10px;
    border: 1px solid #F1FAEE;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
  }
  
  .edit-button:hover, 
  .submit-button:hover, 
  .cancel-button:hover {
      background-color: #184c84;
      color: white;
  }
  .logout-button:hover {
    background-color: rgb(199, 43, 43);
    color: white;
}
.button {
    position: relative;
    overflow: hidden;
}

.edit-button{
    padding: 10px;
    background-color: transparent;
    color: #F1FAEE; 
    border-radius: 5px;
    font-size: 16px;
    border: #F1FAEE 1px solid;
    cursor: pointer;
    margin-top: 5rem;
    width: 90%;
    transition: all 0.3s ease-in-out;
}

.submit-button, 
.cancel-button {
    padding: 10px;
    background-color: transparent;
    color: #F1FAEE; 
    border-radius: 5px;
    font-size: 16px;
    border: #F1FAEE 1px solid;
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
    transition: all 0.3s ease-in-out;
}

.logout-button{
  padding: 10px;
  background-color: transparent;
  color: red; 
  border-radius: 5px;
  font-size: 16px;
  border: red 1px solid;
  cursor: pointer;
  margin-top: 10px;
  width: 90%;
  transition: all 0.3s ease-in-out;
}

.button::after {
  content: "";
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  transition: transform 0.5s, opacity 0.6s;
}
